Hyperloop/*
**/[Vv]ideo
**/enlaces
**/[Tt]ools

*.docx
*.pdf
*.html
*.url
*.ppt
*.pptx
*.ppsx
*.png
*.http*

/2º/IPC/Prácticas/P02/IPC_FXML_Practica2/build/
/2º/IPC/Prácticas/P02/IPC_FXML_Practica2/dist/
/2º/IPC/Prácticas/P02/Ejercicio Registro/JavaFX11_Sigup/nbproject/private/
/2º/IPC/Prácticas/P02/Ejercicio Registro/JavaFX11_Sigup/build/
